pymysql
sqlalchemy==1.4.46
mysql-connector

flask

flask_wtf
wtforms

flask_login
flask_sqlalchemy
flask_bootstrap
flask_migrate
flask_login
flask_mail
flask_script
flask_migrate

pandas
numpy
requests

jieba
wordcloud
